@use "/src/sass/base/variables.scss" as v;
@use "/src/sass/base/mixins.scss" as m;

.blog {
    padding-top: 50px;

    &__title {
        margin-top: 60px;
    }

    &__title-h3 {
        text-align: left;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 60px;

    }

    &__card {
        border: 1px solid v.$dark;
        background-color: v.$light;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

    }

    &__data {
        &-column {
            display: flex;
            flex-direction: column;
            gap: 25px;
            padding: 25px 25px 0 25px;
        }
    }

    &__img {
        max-inline-size: calc(100% + 2px);
        transform: translateX(-1 px) translateY(-1 px);
    }

    &__text {
        margin-top: 25px;
        padding: 0px 25px 25px 25px;
        font-weight: 400;
        font-size: 16px;
        color: v.$dark;
    }

}

@media screen and (min-width:768px) {
    .blog {


        &__wrapper {
            position: relative;
            padding: 25px 25px 0 25px;
        }

        &__decoration {
            @include m.angle-decoration;
            top: 0;
            left: 0;
        }

        &__text {
            margin-top: 15px;
        }

        &__data {
            &-column {
                gap: 0;
                justify-content: space-between;
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .blog {
        &__wrapper {
            column-gap: 50px;

        }

        &__card {
            width: 520px;
            height: fit-content;
        }

        &__img {
            object-fit: cover;
        }
    }
}

@media screen and (min-width:1200px) {
    .blog {

        &__title {
            margin-top: 100px;
        }

        &__card {
            width: 670px;
        }
    }
}