@use "/src/sass/base/variables.scss" as v;


*::before,
*::after {
    box-sizing: border-box;
}

.git {
    margin-top: 60px;



    &__img {
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
        display: none;
    }

    &__wrapper {
        margin-top: 60px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        // height: 428px;
    }

    &__fieldset {
        border: none;
        margin: 0;
        padding: 0;
    }

    &__label {
        color: v.$dark;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 200%;

        &:nth-child(2) {
            margin-top: 8px;
        }
    }

    &__input {
        width: 340px;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        color: v.$dark;
        height: 48px;
        background: #fff;

        &:focus {
            border: none;
            outline: 1px solid v.$dark;

        }

        &::placeholder {
            color: v.$ui-disabled;
            font-size: 14px;
        }

        // странно работает. всегда бордеры красные, хотя в футере работает стабильно. 
        // &:invalid {
        //     outline: none;
        //     border: 1px solid v.$ui-error;
        // }
    }

    &__textarea {
        width: 340px;
        border: 1px solid #e2e1e5;
        border-radius: 2px;
        padding: 10px 15px;
        color: v.$dark;
        height: 132px;
        background: #fff;
        resize: none;

        &:focus {
            border: none;
            outline: 1px solid v.$dark;

        }

        &::placeholder {
            color: v.$ui-disabled;
            font-size: 14px;
        }


        // странно работает. всегда бордеры красные, хотя в футере работает стабильно. 
        // &:invalid {
        //     outline: none;
        //     border: 1px solid v.$ui-error;
        // }
    }

    &__check-block {
        display: flex;
        align-items: center;
        margin-top: 20px;

        a {
            color: #a22dc6;
            text-decoration: none;
            margin-left: 3px;
        }
    }

    &__checkbox {
        margin-right: 15px;
        width: 15px;
        height: 15px;
    }

    &__btn {
        position: static;
        display: block;
        margin-top: 20px;
    }

    &__vase {
        display: none;
        position: absolute;
    }
}

@media screen and (min-width:768px) {
    .git {

        &__form {
            display: flex;
            width: 696px;
            // height: 428px;

        }

        &__wrapper {
            display: block;
            margin-top: 45px;
        }

        &__input {
            width: 300px;
        }

        &__textarea {
            width: 300px;
            height: 132px;
        }

        &__vase {
            display: block;
            position: absolute;
            right: 0px;
            bottom: 0px;
        }
    }
}

@media screen and (min-width:1200px) {
    .git {

        &__1col,
        &__2col {
            width: 550px;
        }

        &__form {
            max-width: 550px;
            width: 100%;
            align-items: flex-start;
        }



        &__img {
            display: block;
            max-width: 550px;
            height: auto;
        }

        &__wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 80px;
        }

        &__input {

            &:hover {
                border: none;
                outline: 1px solid v.$dark;

            }
        }
    }
}

@media screen and (min-width:1920px) {
    .git {
        margin-top: 100px;

        &__img {
            width: 573px;
            height: 356px;
        }

        &__form {
            width: 645px;
            // height: 356px;
        }

        &__fieldset {
            gap: 45px;
            display: flex;
            justify-content: space-between;
        }

        &__2col {
            width: 645px;
            margin-right: 75px;
        }

    }
}