@use "/src/sass/base/variables.scss" as v;
@use "/src/sass/base/mixins.scss" as m;

.btn-default {
    @include m.button;
    width: 230px;
    height: 50px;
    font-size: 20px;

    &:hover {
        background-color: v.$dark;
        color: v.$light;
        transition: 0.5s;
    }

    &:active {
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
        background: rgba(217, 217, 217, 0.1);
        color: v.$dark;
        border: none;
        transition: 0.5s;
    }
}

.btn-send {
    @include m.button;
    width: 220px;
    height: 40px;
    font-size: 16px;

    &:hover {
        color: v.$Ceramic;
        border: 1px solid v.$Ceramic;
        transition: 0.5s;
    }

    &:focus {
        color: v.$dark;
        outline: 1px solid v.$Ceramic;
        border: 1px solid v.$Ceramic;
        transition: 0.5s;
    }

    &:active {
        color: v.$dark;
        outline: 1px solid v.$Ceramic;
        border: 1px solid v.$Ceramic;
        transition: 0.5s;
    }

    &:disabled {
        border: 1px solid v.$ui-disabled;
        color: v.$ui-disabled;
        transition: 0.5s;
    }

}

.btn-submit {
    @include m.button;
    width: 90px;
    height: 40px;
    font-size: 16px;
    color: v.$light;
    border: 1px solid v.$light;

    &:disabled {
        color: v.$ui-disabled;
        border: 1px solid v.$ui-disabled;
    }
}

.btn-read {
    @include m.button;
    width: 145px;
    height: 32px;
    font-size: 14px;

    &:focus {
        color: v.$dark;
        outline: 1px solid v.$Ceramic;
        border: 1px solid v.$Ceramic;
        transition: 0.5s;
    }

    &:active {
        color: v.$dark;
        outline: 1px solid v.$Ceramic;
        border: 1px solid v.$Ceramic;
        transition: 0.5s;
    }

    &:hover {
        color: v.$Ceramic;
        border: 1px solid v.$Ceramic;
        transition: 0.5s;
    }
}

// @media screen and (min-width:1200px) {
//     .btn-default {}

//     .btn-send {}
// }

@media screen and (min-width:1920px) {
    .btn-default {
        width: 330px;
        height: 60px;
    }
}