@use "/src/sass/base/variables.scss" as v;
@use "/src/sass/base/mixins.scss" as m;

.btn-default {
    @include m.button;
    width: 230px;
    height: 50px;
    font-size: 20px;
}

.btn-send {
    @include m.button;
    width: 220px;
    height: 40px;
    font-size: 16px;

    &:focus {
        outline: 1px solid v.$Ceramic;
        border: 1px solid v.$Ceramic;
    }

}

@media screen and (min-width:1200px) {
    .btn-default {
        &:hover {
            background-color: v.$dark;
            color: v.$light;
            transition: 0.5s;
        }

        &:active {
            box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.4);
            background: rgba(217, 217, 217, 0.1);
            color: v.$dark;
            border: none;
        }
    }

    .btn-send {

        &:active {
            outline: 1px solid v.$Ceramic;
            border: 1px solid v.$Ceramic;
        }

        &:hover {
            color: v.$Ceramic;
            border: 1px solid v.$Ceramic;
        }

        &:disabled {
            border: 1px solid v.$ui-disabled;
            color: v.$ui-disabled;
        }

    }
}

@media screen and (min-width:1920px) {
    .btn-default {
        width: 330px;
        height: 60px;
    }
}