@use "/src/sass/base/variables.scss" as v;
@use "/src/sass/base/mixins.scss" as m;

.title-h1-italic {
    @include m.title;
    font-size: 24px;
    font-style: italic;
}

@media screen and (min-width:1920px) {
    .title-h1-italic {
        font-size: 32px;
    }
}